.directional-marquee-container{
  margin-top: 70px;
  height: 45vh;
}
.scrolling-text {
  // background: #000;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 40px 0;
  // background-color: var(--color-just-black);
}
.scrolling-text .rail {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Inter", sans-serif;
}
.scrolling-text .rail h4 {
  white-space: nowrap;
  font-size: 100px;
  font-weight: 200;
  letter-spacing: ls(120);
  line-height: 1em;
  color: aliceblue;
}
.intro-text {
  font-size: 3.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  text-align: right;
  padding-right: 50px;
  color: white;
}
