
.hero {
  position: relative;
  height: 100vh;
  // background: rgb(13, 13, 13);
  overflow: hidden;

  &-overlay {
    position: absolute;
    inset: 0;
    // background: radial-gradient(
    //   circle at center,
    //   rgba(0, 0, 0, 0.9),
    //   rgba(0, 0, 0, 0.9)
    // );
    z-index: 1;
  }

  &-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    pointer-events: none;
  }

  &-zoom {
    transform-origin: center;
    will-change: transform, opacity;
  }

  &-title {
    font-size: clamp(6rem, 18vw, 20rem);
    font-family: "Playfair Display", serif;
    font-weight: 800;
    color: rgb(231, 219, 207);
    line-height: 0.9;
  }

  &-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin-top: 2rem;

    .line {
      width: 80px;
      height: 1px;
      background: #c46b1f;
    }

    .tag-line {
      font-family: "Inter", sans-serif;
      font-size: 0.75rem;
      letter-spacing: 8px;
      color: rgb(174, 160, 149);
      opacity: 0.6;
    }
  }

  .scroll-down-indicator {
    margin-top: 3rem;
    color: #545454;

    img {
      width: 80px;
      height: 100px;
    }
  }
}
