.navbar {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    width: 100%;
    font-family: "Inter", sans-serif;
    z-index: 1000;

    .navbar-wrapper {
        border-radius: 50px;
        color: #ffffff;
        border: 2px solid rgb(37, 37, 37);
        width: 50%;
        margin: 0 auto;
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        gap: 5rem;
        justify-content: center;
        box-shadow: 0 0 20px rgba(255,255,255,0.08);


        a {
            img {
                width: 30px;
                height: 30px;
            }
        }

        ul {
            list-style: none;
            display: flex;
            gap: 7rem;

            li {
                a {
                    color: #ffffff;
                    text-decoration: none;
                }
            }
        }
    }

}